<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="icon" href="http://electronika.spb.ru/favicon.ico" type="image/x-icon">

    <title>Admin panel</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>

<!--верхняя панель-->
<nav class="navbar  navbar-dark bg-dark ">

    <a class="navbar-brand" href="#">
       <!-- <b> <span sec:authentication="principal.email"/></b>
        <span> with roles:</span>
        <td th:text="${principal}"></td>-->
    </a>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
        </li>
    </ul>
</nav>
<!--верхняя панель-->

<div class="container-fluid">
    <div class="row ">

        <!--боковая белая панель-->
        <nav class="col-md-2 m-0 p-0 pt-4 ">
            <div class="sidebar-sticky">
                <br>
                <a href="/admin" class="btn btn-primary btn-block active" role="button">Admin</a>
                <a href="/user" class="nav-link  btn-block" role="button">User</a>
            </div>
        </nav>

        <!--боковая серая панель-->

        <div class="container col-md-10 pt-4 bg-light ">
            <br>
            <h1 class="h2">Admin panel</h1>
            <ul class="nav nav-tabs ">
                <li class="nav-item">
                    <a class="nav-link " href="/admin">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/new">New User</a>
                </li>
            </ul>
            <div class="card bg-light ">
                <br>
                <ul class="px-3">
                    <h5>Add new user</h5>
                </ul>
                <div class="table-responsive">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped bg-white">
                                <thead>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm text-center">



                                            <form >

                                                <label for="name"><b>First name</b></label>
                                                <input type="text" class="form-control "  id="name">
                                                <br>
                                                <br>
                                                <label for="surname"><b>Last name</b></label>
                                                <input type="text" class="form-control"
                                                       id="surname"/>
                                                <br>
                                                <br>
                                                <label for="age"><b>Age</b></label>
                                                <input type="number" class="form-control"  id="age"/>
                                                <br>
                                                <br>
                                                <label for="email"><b>Email</b></label>
                                                <input type="text" class="form-control"
                                                       id="email"/>
                                                <br>
                                                <br>
                                                <label for="password"><b>Password</b></label>
                                                <input type="text" class="form-control"
                                                       id="password"/>
                                                <br>
                                                <br>
                                                <div class="form-group">
                                                    <label><b>Role</b></label>
                                                    <select class="form-control" size="2" multiple="multiple"
                                                            name="checked">

                                                        <option

                                                        ></option>
                                                    </select>
                                                </div>
                                                <input type="submit" class="btn btn-success" value="Add new user"/>
                                            </form>
                                        </div>
                                        <div class="col-sm-3">

                                        </div>
                                    </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <canvas class="" height="900"></canvas>
        </div>
    </div>
</div>


<script>


    const url = 'http://localhost:8080/admin'

    /*add user*/

    //const getPost2 = document.querySelector('form')

    const addUser = document.querySelector('add');
  //  const value = document.getElementById('add');

    const id = document.getElementById('id')
    const name = document.getElementById('name')
    const surname = document.getElementById('surname')
    const age = document.getElementById('age')
    const email = document.getElementById('email')
    const password = document.getElementById('password')
    let output2='';



    let user = {
        name: 'John',
        surname: 'Smith'
    };

    let response = await fetch('http://localhost:8080/admin/new', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(user)
    });

    let result = await response.json();
    alert(result.message);


/*

    /!*add user*!/
    fetch(url,{
        method: 'POST',
        headers:{
            'Content-type':'application/json'
        },
        body: JSON.stringify({

            name: 'Alexeeee',
            roles: ['ROLE_ADMIN'],
            password: '22'

        })


    })
        .then(response=>response.json())
        .then(json=> console.log(json))
        .catch(error => console.error('addUser error'));



*/












</script>

</body>
</html>