<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="icon" href="http://electronika.spb.ru/favicon.ico" type="image/x-icon">

    <title>Admin panel</title>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>

<!--верхняя панель-->
<nav class="navbar  navbar-dark bg-dark ">

    <a class="navbar-brand" href="#">
        <b> <span sec:authentication="principal.email"/></b>
        <span> with roles:</span>
        <td th:text="${principal}"></td>
    </a>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href='/logout'>Logout</a>
        </li>
    </ul>
</nav>
<!--верхняя панель-->

<div class="container-fluid">
    <div class="row ">
        <!--боковая белая панель-->
        <div class="col-md-2 m-0 p-0 pt-4 ">
            <div class="d-grid gap-2">
                <br>
                <a href="/admin" class="btn btn-primary active" role="button">Admin</a>
                <a href="/user" class="nav-link " role="button">User</a>
            </div>
        </div>

        <!--правая серая панель-->

        <div class="container col-md-10 pt-4 bg-light ">
            <h1 class="h2">Admin panel</h1>
            <ul class="nav nav-tabs " id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="usersTableTab" data-bs-toggle="tab"
                       data-bs-target="#users-table" type="button" role="tab" aria-controls="users-table"
                       aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link " data-toggle="tab" id="new-user-tab" data-bs-toggle="tab"
                       data-bs-target="#newUser"
                       type="button" role="tab" aria-controls="new-user">New User</a>

                </li>
            </ul>


            <div class="tab-content border rounded" id="myTabContent">
                <br>
                <div class="tab-pane fade show active  bg-light" id="users-table" role="tabpanel"
                     aria-labelledby="users-table-tab">
                    <ul class="px-3">
                        <h5>All users</h5>
                    </ul>
                    <div class="table-responsive">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped bg-white" id="mainTableWithUsers">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>

                                    <tbody></tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- new user-->
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="new-user-tab">
                    <ul class="px-3">
                        <h5>Add new user</h5>
                    </ul>
                    <div class="table-responsive">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped bg-white">
                                    <thead>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm text-center">


                                                <form id="formNewUser">

                                                    <label><b>First name</b></label>
                                                    <input type="text" class="form-control " name="name" id="nameN">
                                                    <br>
                                                    <br>
                                                    <label><b>Last name</b></label>
                                                    <input type="text" class="form-control" name="surname"
                                                           id="surnameN"/>
                                                    <br>
                                                    <br>
                                                    <label><b>Age</b></label>
                                                    <input type="number" class="form-control" name="age" id="ageN"/>
                                                    <br>
                                                    <br>
                                                    <label><b>Email</b></label>
                                                    <input type="text" class="form-control" name="email" id="emailN"/>
                                                    <br>
                                                    <br>
                                                    <label><b>Password</b></label>
                                                    <input type="text" class="form-control" name="password"
                                                           id="passwordN"/>
                                                    <br>
                                                    <br>
                                                    <div class="form-group">
                                                        <label><b>Role</b></label>
                                                        <select multiple required size="2" name="rolesN"
                                                                class="form-control"
                                                                id="rolesN">
                                                            <option value="ADMIN"> ADMIN</option>
                                                            <option value="USER"> USER</option>
                                                        </select>
                                                        <br>
                                                    </div>
                                                    <input type="submit" class="btn btn-success" id="newUserButton"
                                                           value="Add new user"/>
                                                </form>
                                            </div>
                                            <div class="col-sm-3">

                                            </div>
                                        </div>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <canvas class="" height="900"></canvas>
        </div>
    </div>

</div>


<!--modal update-->
<div class="modal fade" id="modalEdit" aria-hidden="true" aria-labelledby="exampleModalLabel2"
     role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Edit user</h5>
                <button aria-label="Close" class="close" data-dismiss="modal"
                        type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="text-align: center">
                    <div class="justify-content-center align-items-center">
                        <form class="form-edit">
                            <div class="form-group">
                                <label>ID
                                    <input class="form-control" id="idE"
                                           type="number"
                                           readonly/></label>
                            </div>
                            <div class="form-group">
                                <label>First name
                                    <input class="form-control" id="nameE"
                                           name="name"

                                           type="text"
                                           value=""/></label>
                            </div>
                            <div class="form-group">
                                <label>Last name
                                    <input class="form-control" id="surnameE"
                                           name="surname"
                                           type="text"
                                    /></label>
                            </div>
                            <div class="form-group">
                                <label>Age
                                    <input class="form-control" id="ageE"
                                           type="number"
                                           name="age"
                                    /></label>
                            </div>
                            <div class="form-group">
                                <label>Email
                                    <input class="form-control" id="emailE"
                                           type="email"
                                           name="email"
                                    /></label>
                            </div>
                            <div class="form-group">
                                <label>Password
                                    <input class="form-control" id="passwordE"
                                           name="password"
                                           type="password"/></label>
                            </div>
                            <div class="form-group">
                                <label><b>Role</b>
                                    <select multiple size="2" name="rolesE" class="form-control"
                                            id="rolesE">
                                        <option value="ADMIN">ADMIN
                                        </option>
                                        <option value="USER">USER
                                        </option>
                                    </select>
                                </label>
                            </div>

                            <div class="modal-footer">

                                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close
                                </button>

                                <button class="btn btn-primary " type="submit">Edit
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- модальное окно delete   //text-center -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class=" justify-content-center align-items-center">

                        <form class=" form-delete">

                            <div class="form-group">
                                <label>ID
                                    <input class="form-control" id="idD"
                                           type="number"
                                           readonly/></label>
                            </div>
                            <div class="form-group">
                                <label>First name
                                    <input class="form-control" id="nameD"
                                           name="name"

                                           type="text" readonly/></label>
                            </div>
                            <div class="form-group">
                                <label>Last name
                                    <input class="form-control" id="surnameD"
                                           name="surname"
                                           type="text"
                                           readonly/></label>
                            </div>
                            <div class="form-group">
                                <label>Age
                                    <input class="form-control" id="ageD"
                                           type="number" name="age"
                                           readonly/></label>
                            </div>
                            <div class="form-group">
                                <label>Email
                                    <input class="form-control" id="emailD"
                                           type="email" name="email"
                                           readonly/></label>
                            </div>
                            <div class="form-group">
                                <label>Password
                                    <input class="form-control" id="passwordD"
                                           name="password"
                                           type="password"
                                           readonly/></label>
                            </div>
                            <div class="form-group">
                                <label><b>Role</b>
                                    <select multiple size="2" name="rolesD" class="form-control"
                                            id="rolesD">
                                        <option value="ADMIN">ADMIN
                                        </option>
                                        <option value="USER">USER
                                        </option>
                                    </select>
                                </label>
                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                </button>

                                <button type="submit" class="btn btn-primary  ">Delete
                                </button>

                            </div>

                        </form>
                    </div>


                </div>

            </div>

        </div>
    </div>

</div>

<script src="app.js"></script>
</body>
</html>